.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(143, 141, 141, 0.1);
}

.container-header button,
.container-header h5,
.container-header h4,
.container-header select {
  margin: 3px;
}

.container-main-column {
  display: flex;
  flex-direction: column;
}

.container-main {
  width: 90%;
  height: 550px;
  border-radius: 10px;
  background-color: lightgray;
  margin-top: 10;
  margin-inline: auto;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.container-select-invoices {
  width: 80%;
  height: auto;
  border-radius: 10px;
  background-color: lightgray;
  margin-top: 10px;
  margin-inline: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-select-upload {
  width: 80%;
  height: auto;
  border-radius: 10px;
  background-color: lightgray;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-manual {
  background-color: lightgray;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-select-upload h5,
.container-select-upload button {
  white-space: nowrap;
}

h5 {
  margin-bottom: 0;
}

.container-select-invoices h5,
.container-select-invoices button {
  white-space: nowrap;
}

h5 {
  margin-bottom: 0;
}
